<div class="header">
  <header>
    <div class="header-container">
      <div>
        <img src="" alt="brain">
      </div>
      <div class="">
        <h1>CephaloAI</h1>
        <p>Analise de encefalogramas com a ajuda de IA</p>
      </div>
    </div>
  </header>
</div>

<main class="main-container">
  <div>
    <image-upload></image-upload>
  </div>
  <div>
    <div>
      <image-analysis></image-analysis>
    </div>
    <div>
      <diagnostic-panel></diagnostic-panel>
    </div>
  </div>
</main>
<router-outlet></router-outlet>
